{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mpercept Test</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">


  </head>
  <body>

  	<div class="navigation clearfix">
  		<div class="container">
  		<a href="" class="brand-logo">
  			<img src="logo.png">
  		</a>
	    <div class="topnav">

	      <a class="active" href="#home">Operations_request</a>
	      <a href="#news">Leave_request</a>
	      <a href="#contact">TeaCoffee_request</a>
	      <a href="#about">MeetingRoom_booking</a>
	    </div>


	</div>
	</div>



	<div class="container">
    <h3>Operatons Request Form</h3>
	<form>
    {% for f in Operations_requestForm %}
    {% csrf_token %}
	  <div class="form-group">
	    <label for="exampleInputEmail1">{{f.first_name}}</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
    {% endfor %}
	  <div class="form-check">
	    <input type="checkbox" class="form-check-input" id="exampleCheck1">
	    <label class="form-check-label" for="exampleCheck1">Check me out</label>
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

  </body>
</html>
