body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.navigation{
  background: #000;
}
.navigation .topnav{
  float: right;

}
.navigation a.brand-logo{
  float: left;
}
.navigation a.brand-logo img{
  height: 40px;
  width: auto;
  object-fit: cover;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}